{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block start %}

<!-- <h1 style="text-align: center;">Wellcome to our Book Portal</h1> -->

<div style="width: 60%; margin:auto">
    <table class="table table-bordered table-success">
        <thead class="">
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published Date</th>
            <th>Action</th>
            
        </thead>
        <tbody>

            <tr>
                <td>{{item.book_id}}</td>
                <td>{{item.book_name}}</td>
                <td>{{item.book_author}}</td>
                <td>{{item.book_genre}}</td>
                <td>{{item.pub_date}}</td>
                 <td> 
                   <a href="{% url 'edit_books' pk=item.book_id %}" class="btn btn-info btn-sm">Update</a>
                   <a href="{% url 'delete_books' pk=item.book_id %}"class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>


{% endblock %}