{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block start %}

<h1 style="text-align: center;">Wellcome to our Book Portal</h1>

<div style="width: 60%; margin:auto">
    <table class="table table-bordered table-success">
        <thead class="">
            <th>#</th>
            <th>Name</th>
            <th>Author</th>
            <!-- <th>Genre</th>
            <th>Published Date</th>
            <th>Action</th> -->
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{item.book_id}}</td>
                <td><a href="{% url 'book_details' item.book_id %}">{{item.book_name}}</a></td>
                <td>{{item.book_author}}</td>

        
            </tr>
            {% endfor%}
        </tbody>
    </table>

</div>


{% endblock %}