{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block start %}
<br>
{% if messages %}
<div class="alert alert-primary" role="alert" style="width:50%;margin:auto">
    {% for msg in messages %}
    {{msg}}
    {% endfor %}
</div>
{% endif %}
<form class="col-6 mx-auto mt-4 shadow-lg" novalidate method='post'>
    {% csrf_token %}
    <!-- {{Form|crispy}} -->
    <h2>Create New Account </h2>
    {% for fm in Form %}
    {{fm.label_tag}}
    {{fm}}
    {{fm.errors|striptags}}
    {% endfor %}
    <p>Already Have Account ? <a href="{% url 'login' %}">Login</a></p>
    <button class="btn btn-primary btn-center"> Sign Up</button>
</form>


{% endblock %}